<table class="centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
  <tbody>
    <tr>
      <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #ededed;width: 1px">&#8203;</td>
      <td style="padding: 0;vertical-align: top">
        <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px;table-layout: fixed">
          <tbody>
            <tr>
              <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                <div><div class="column-top" style="font-size: 32px;line-height: 32px">&nbsp;</div></div>
                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">

                        <h1 style="Margin-top: 0;color: #0d4282;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 44px">You're almost done! Please confirm your email address.</h1>
                        <p style="Margin-top: 0;color: #000;font-family: sans-serif;font-size: 16px;line-height: 24px;Margin-bottom: 24px">
                          <strong>
                            Thank you for joining <%= company_name %> TV Network! If your reading this email, you have sucessfully confirmed your email address. Please click on the following link / button to setup your password:
                          </strong>
                        </p>
                      </td>
                    </tr>
                </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">

                        <div class="btn" style="Margin-bottom: 24px;padding: 2px;text-align: center">
                          <![if !mso]><a style="border: 1px solid #ffffff;display: inline-block;font-size: 13px;font-weight: bold;line-height: 15px;outline-style: solid;outline-width: 2px;padding: 10px 30px;text-align: center;text-decoration: none !important;transition: all .2s;color: #ffcf40 !important;font-family: sans-serif;background-color: #0d4282;outline-color: #0d4282;text-shadow: 0 1px 0 #0c3b75" href="<%= invitation_url(@invitation) %>">setup your password now</a><![endif]>
                          <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= invitation_url(@invitation) %>" style="width:222px" fillcolor="#0D4282" strokecolor="#0D4282" strokeweight="6px"><v:stroke linestyle="thinthin"></v:stroke><v:textbox style="mso-fit-shape-to-text:t" inset="0px,7px,0px,7px"><center style="font-size:13px;line-height:15px;color:#FFCF40;font-family:sans-serif;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:0px">setup your password now</center></v:textbox></v:rect><![endif]--></div>

                      </td>
                    </tr>
                </tbody></table>

                <div class="column-bottom" style="font-size: 8px;line-height: 8px">&nbsp;</div>
              </td>
            </tr>
        </tbody></table>
      </td>
      <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #ededed;width: 1px">&#8203;</td>
    </tr>
</tbody></table>

<table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #ededed;Margin-left: auto;Margin-right: auto" width="602">
  <tbody><tr><td style="padding: 0;vertical-align: top">&#8203;</td></tr>
</tbody></table>

<div class="spacer" style="font-size: 1px;line-height: 32px;width: 100%">&nbsp;</div>
<table class="footer centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 602px">
  <tbody><tr>
      <td class="social" style="padding: 0;vertical-align: top;padding-top: 32px;padding-bottom: 22px" align="center">

      </td>
    </tr>
    <tr><td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #ededed;width: 1px">&nbsp;</td></tr>
    <tr>
      <td style="padding: 0;vertical-align: top">
        <table style="border-collapse: collapse;border-spacing: 0">
          <tbody><tr>
              <td class="address" style="padding: 0;vertical-align: top;width: 250px;padding-top: 32px;padding-bottom: 64px">
                <table width="90%" class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 0;padding-right: 10px;word-break: break-word;word-wrap: break-word;text-align: left;font-size: 12px;line-height: 20px;color: #000;font-family: sans-serif">
                        <div><strong>Questions? </strong>Call: 1-619-940-5522 (USA) or 33-977-55-77-55 (France)<strong><br />
                            Email: </strong><%= support_email %><strong><br />
                            Website: </strong><%= domain %></div>
                      </td>
                    </tr>
                </tbody></table>
              </td>
              <td class="subscription" style="padding: 0;vertical-align: top;width: 350px;padding-top: 32px;padding-bottom: 64px">
                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 0;word-break: break-word;word-wrap: break-word;font-size: 11px;line-height: 20px;color: #000;font-family: sans-serif;text-align: right">
                        <div>
                          <div align="left"><strong>You have chosen to sign up for a account on <%= domain %>. Follow the directions above to continue setting up your account.</strong></div>
                        </div>
                        <div>
                          <span class="block">

                          </span>
                        </div>
                      </td>
                    </tr>
                </tbody></table>
              </td>
            </tr>
        </tbody></table>
      </td>
    </tr>
</tbody></table>
